body{
    font-family: monospace;
}

#unidades{
    width: 30px;
}

span{
    color: black;
    font-weight: bold;
}
/*#formuDatosTarjeta{
    display: none;
}
#formuDatosTransferencia{
    display: none;
}*/